<div>
	<h1>Basic Demo</h1>
	<div class="o-permutive" data-o-component="o-permutive"></div>
</div>

<div>
	<h1>Basic Demo:hover</h1>
	<div class="o-permutive" data-o-component="o-permutive"></div>
</div>
